// Start with your Sass styles here.

/* Move down content because we have a fixed navbar that is 50px tall */
#content {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 48em) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#notify > div {
  display: none;
}

#map-container {
  position: fixed;
  top: 54px;
  bottom: 50px;
  left: 0;
}

@media (min-width: 48em) {
  #map-container {
    bottom: 0;
  }
}

#small-map-container {
  height: 300px;
}

#mobile-footer {
  height: 50px;
  padding: 5px;
}

button.show-things-map {
  display: none;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#things-list > ul {
  padding-bottom: 3em;
}

.pulse-icon {
  img {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 250;
  }
}

.pulse-ring {
  border: 3px solid #F00;
  -webkit-border-radius: 30px;
  height: 36px;
  width: 36px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.chart {
  height: 300px;
}

.time-range-picker-controls {
  display: none;
}

.form-warning {
  display: none;
}

.muted {
  color: #888;
}
