doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dashboard Map
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="/style.css")

    script(type="text/javascript", src="/templates.js")
    script(type="text/javascript", src="/app.js")

  body
    nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
      button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(href="index.html") LOGO
      
      div#navbar
        nav.nav.navbar-nav.pull-right
          a.nav-item.nav-link(href="map.html") Map

    div#content.container-fluid
      div.row
        div#things-list.col-sm-12.col-md-3.sidebar.hidden-sm-down
          h5 Sensor Stations
          
          ul.list-group
            li.row.list-group-item
              div.col-sm-8
                p 
                  a(href="/thing.html") Thing A
              div.col-sm-4
                p ICON
                
            li.row.list-group-item
              div.col-sm-8
                p 
                  a(href="/thing.html") Thing B
              div.col-sm-4
                p ICON
                
            li.row.list-group-item
              div.col-sm-8
                p 
                  a(href="/thing.html") Thing C
              div.col-sm-4
                p ICON
                
            li.row.list-group-item
              div.col-sm-8
                p 
                  a(href="/thing.html") Thing D
              div.col-sm-4
                p ICON
                
            li.row.list-group-item
              div.col-sm-8
                p 
                  a(href="/thing.html") Thing E
              div.col-sm-4
                p ICON
        
        div#map-container.col-xs-12.col-sm-12.col-md-9.col-md-offset-3
          div#map
      
      div#mobile-footer.hidden-md-up.navbar-fixed-bottom.bg-inverse
        div.row
          div.col-sm-12
            button.btn.btn-primary.show-things-list &larr; View Sensors List
            button.btn.btn-primary.show-things-map.pull-xs-right.invisible View Sensors Map &rarr;
    
    script(type="text/javascript").
      $(function() {
        L.Icon.Default.imagePath = "/images";
        
        var map = L.map('map').setView([51.049, -114.08], 13);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
      
        var pulseIcon = L.divIcon({
          className: 'pulse-icon',
          html: '<img src="/images/marker-icon.png" srcset="/images/marker-icon-2x.png 2x"><div class="pulse-ring"></div>',
          iconSize: [22, 22]
        });
        
        L.marker([51.049, -114.08], { icon: pulseIcon }).addTo(map);
        L.marker([51.048, -114.09]).addTo(map);
        L.marker([51.047, -114.09]).addTo(map);
        L.marker([51.047, -114.10]).addTo(map);
        L.marker([51.050, -114.07]).addTo(map);
        
        // Hide zoom controls for mobile — pinch zoom is more reliable there
        $(".leaflet-control-container").addClass("hidden-sm-down");
        
        // Mobile Controls
        
        $(".show-things-list").click(function() {
          $("#things-list").toggleClass("hidden-sm-down");
          $("#map-container").toggleClass("hidden-sm-down");
          $(".show-things-list").toggleClass("invisible");
          $(".show-things-map").toggleClass("invisible");
          return false;
        });
        
        $(".show-things-map").click(function() {
          $("#things-list").toggleClass("hidden-sm-down");
          $("#map-container").toggleClass("hidden-sm-down");
          $(".show-things-list").toggleClass("invisible");
          $(".show-things-map").toggleClass("invisible");
          return false;
        });
      });
