doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dashboard
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="/style.css")

    script(type="text/javascript", src="/templates.js")
    script(type="text/javascript", src="/app.js")

  body
    nav.navbar.navbar-full.navbar-dark.bg-inverse
      button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(href="index.html") LOGO
      
      div#navbar
        nav.nav.navbar-nav.pull-right
          a.nav-item.nav-link(href="map.html") Map
          a.nav-item.nav-link(href="settings.html") Settings

    div#content.container
      div.row
        div.col-sm-12
          h1#thing-description.page_header Loading&hellip;

      div.row.card
        div#thing-info.col-sm-8.card-block
          dl
            dt Description
            dd Loading&hellip;
          
        div#small-map-container.col-sm-4
          div#map
          
      div.row
        div.col-sm-3.card-block
          h4 Time Range
        div.col-sm-9.card-block
          h5.pull-xs-right
            a(href="#")
              time May 1 2016 00:00:00 UTC
              | &nbsp;
              i.fa.fa-calendar
            wbr
            | &nbsp;to&nbsp;
            wbr
            a(href="#")
              time May 2 2016 00:00:00 UTC
              | &nbsp;
              i.fa.fa-calendar            
          
      div#datastreams
          
    script(type="text/javascript").
      $(function() {
        App.Views.ThingView();
      });
