doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Dashboard
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="/style.css")

    script(type="text/javascript", src="/templates.js")
    script(type="text/javascript", src="/app.js")

  body
    nav.navbar.navbar-full.navbar-dark.bg-inverse
      button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(href="index.html") LOGO
      
      div#navbar
        nav.nav.navbar-nav.pull-right
          a.nav-item.nav-link(href="map.html") Map

    div#content.container
      div.row.card
        div.col-sm-8.card-block
          h1.page-header Thing A
        
          dl
            dt Description
            dd Station #3B of type 2A.
          
        div#small-map-container.col-sm-4
          div#map
          
      div.row
        div.col-sm-3.card-block
          h4 Time Range
        div.col-sm-9.card-block
          h5.pull-xs-right
            a(href="#")
              time May 1 2016 00:00:00 UTC
              | &nbsp;
              i.fa.fa-calendar
            wbr
            | &nbsp;to&nbsp;
            wbr
            a(href="#")
              time May 2 2016 00:00:00 UTC
              | &nbsp;
              i.fa.fa-calendar            
          
      div.row.card
        div.col-md-9.card-block
          h1
            a(name="Datastream-111")
            | Datastream A
          div#datastream-a-chart.chart
          
        div.col-md-3
          table.table
            thead
              tr
                th Stat
                th Value
            tbody
              tr
                td Current
                td 5.5 ms
              tr
                td Min
                td 3.1 ms
              tr
                td Max
                td 5.6 ms
              tr
                td Average
                td 3.9 ms

      div.row.card
        div.col-md-9.card-block
          h1
            a(name="Datastream-112")
            | Datastream B
          div#datastream-b-chart.chart
          
        div.col-md-3
          table.table
            thead
              tr
                th Stat
                th Value
            tbody
              tr
                td Current
                td 5.5 ms
              tr
                td Min
                td 3.1 ms
              tr
                td Max
                td 5.6 ms
              tr
                td Average
                td 3.9 ms
                
      div.row.card
        div.col-md-9.card-block
          h1
            a(name="Datastream-113")
            | Datastream C
          div#datastream-c-chart.chart
          
        div.col-md-3
          table.table
            thead
              tr
                th Stat
                th Value
            tbody
              tr
                td Current
                td 5.5 ms
              tr
                td Min
                td 3.1 ms
              tr
                td Max
                td 5.6 ms
              tr
                td Average
                td 3.9 ms
          
    script(type="text/javascript").
      $(function() {
        // Map
        
        L.Icon.Default.imagePath = "/images";
        
        var map = L.map('map', {
          dragging: false,
          touchZoom: false,
          scrollWheelZoom: false,
          doubleClickZoom: false,
          boxZoom: false,
          keyboard: false,
          zoomControl: false
        }).setView([51.049, -114.08], 13);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
      
        var pulseIcon = L.divIcon({
          className: 'pulse-icon',
          html: '<img src="/images/marker-icon.png" srcset="/images/marker-icon-2x.png 2x"><div class="pulse-ring"></div>',
          iconSize: [22, 22]
        });
        
        L.marker([51.049, -114.08], { icon: pulseIcon }).addTo(map);
        
        // Charts
        drawChart("#datastream-a-chart", {
          color: colorForId(111),
          unitOfMeasurement: {
            name: "Volts",
            symbol: "V"
          }
        });
        drawChart("#datastream-b-chart", {
          color: colorForId(112),
          unitOfMeasurement: {
            name: "Metres",
            symbol: "m"
          }
        });
        drawChart("#datastream-c-chart", {
          color: colorForId(113),
          unitOfMeasurement: {
            name: "Degrees Celsius",
            symbol: "˚C"
          }
        });
      });
