<table class="table">
  <thead>
    <tr>
      <th>Stat</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Last</td>
      <td class="last-value">Loading&hellip;</td>
    </tr>
    <tr>
      <td>Min</td>
      <td class="min-value">Loading&hellip;</td>
    </tr>
    <tr>
      <td>Max</td>
      <td class="max-value">Loading&hellip;</td>
    </tr>
    <tr>
      <td>Average</td>
      <td class="average-value">Loading&hellip;</td>
    </tr>
  </tbody>
</table>
