<dl>
  <dt>ID</dt>
  <dd><%= obj["@iot.id"] %></dd>

  <dt>Location Description</dt>
  <dd><%= obj.locationDescription %></dd>

  <dt>Properties</dt>
  <dd>
<pre>
<%= JSON.stringify(obj.properties, null, "  ") %>
</pre>
  </dd>
</dl>
