<li class="row list-group-item" data-name="Thing A">
  <div class="col-sm-6">
    <p>
      <a href="/thing.html?stURL=<%=obj.stURL %>&id=<%= obj["@iot.id"] %>"><%= obj.description %></a>
    </p>
  </div>
  <div class="col-sm-6">
    <p>5 Streams</p>
  </div>
</li>
